<div class="container" style="width: 1900px">
  <h2>Details for {{ movie?.name }}</h2>

  <br />

  <!-- <h4>Milestones</h4>

  <table class="table">
    <thead>
      <tr>
        <th>SKU</th>
        <th>QA</th>
        <th>QA Vendor</th>
        <th>...Status</th>
        <th>Portal</th>
        <th>...Status</th>
        <th>Release</th>
        <th>...Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENG</td>
        <td>1/1/22</td>
        <td>BluFocus</td>
        <td>Passed</td>
        <td>1/15/22</td>
        <td>Delivered</td>
        <td>1/30/22</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>BRA</td>
        <td>2/1/22</td>
        <td>BluFocus</td>
        <td>Failed</td>
        <td>2/15/22</td>
        <td>Pending</td>
        <td>2/30/22</td>
        <td>Pending</td>
      </tr>
    </tbody>
  </table>
  <br /> -->

  <h4>Value Added Materials</h4>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>VAM</th>
        <th>Language</th>
        <th>Source</th>
        <tH>Title Card</tH>
        <th>Legal Card</th>
        <th>Deliverable</th>
        <th>Proxy</th>
        <th>ITT</th>
        <th>Thumbnail</th>
        <th>Delivery Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of movie?.vam">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.language }}</td>
        <td>{{ item.source }}</td>
        <td>{{ item.titlecard }}</td>
        <td>{{ item.legalcard }}</td>
        <td>{{ item.deliverable }}</td>
        <td>{{ item.proxy }}</td>
        <td>{{ item.itt }}</td>
        <td>{{ item.thumbnail }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.status }}</td>
      </tr>
    </tbody>
  </table>
  <br />

  <!-- <h4>Packaging</h4>
  <p>Menu Audio</p>
  <p>Background images</p>
  <p>Marketing Copy</p>
  <p>Metadata</p>
  <br />

  <br /> -->
</div>
