<div class="container" style="width: 1900px">
  <h1>Details for {{ movie?.name }}</h1>

  <br />
  <!-- <h4>General Info (hard-coded)</h4>
  <table class="table">
    <thead>
      <th>Item</th>
      <th>--</th>
      <th>--</th>
    </thead>
    <tbody>
      <tr>
        <td>Studio</td>
        <td>Emotion Pictures</td>
        <td>--</td>
      </tr>
      <tr>
        <td>Studio Contact</td>
        <td>John Doe</td>
        <td>818 555-1234</td>
      </tr>
      <tr>
        <td>Project ID</td>
        <td>DHE 1234</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>Project Status</td>
        <td>In Production</td>
        <td>--</td>
      </tr>
    </tbody>
  </table>
  <br /> -->

  <app-movie-detail-milestones
    [childMovie]="movie"
  ></app-movie-detail-milestones>

  <app-movie-detail-vam [childMovie]="movie"> </app-movie-detail-vam>

  <app-movie-detail-packaging></app-movie-detail-packaging>

  <br />
  <br />
</div>
