<h4>Packaging (hard-coded)</h4>
<table class="table">
  <thead>
    <th>Item</th>
    <th>Status</th>
    <th>Note</th>
  </thead>
  <tbody>
    <tr>
      <td>Menu Audio</td>
      <td>Pending</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Background Images</td>
      <td>Pending</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Marketing Copy</td>
      <td>Pending</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Metadata</td>
      <td>Pending</td>
      <td>n/a</td>
    </tr>
  </tbody>
</table>

<br />
